<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{shoppingItem.customerName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>image</ion-label>
        <ion-input type="text" [(ngModel)]="shoppingItem.image"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>description</ion-label>
        <ion-input type="text" [(ngModel)]="shoppingItem.description"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>price</ion-label>
        <ion-input type="text" [(ngModel)]="shoppingItem.price"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>quantity</ion-label>
        <ion-input type="text" [(ngModel)]="shoppingItem.quantity"></ion-input>
      </ion-item>


  <button ion-button block (click)="editShoppingItem(shoppingItem)">Edit Item</button>
</ion-content>
