<ion-header>

  <ion-navbar color="primary">
    <ion-title    [hidden]   *ngIf="!result == null ||!result ==0 ">
      <!-- {{(shoppingListRef$ | async)?.length}} Items to choose from -->
      Balance: R {{result}}
    </ion-title>
    <ion-title   [hidden]    *ngIf="result == 0 || result == null || result == 0.00">
      <!-- {{(shoppingListRef$ | async)?.length}} Items to choose from -->
welcome to vending machine
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAddShoppingPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


    <!-- <h1  id = "balance" align=center class="title">Balance: R {{result}}</h1> -->



    <ion-grid> 
        <ion-row>
          <ion-col col-3 id="onOff">
            <button (click)="addMoney(.50)" ion-button icon-start color="primary"  full>
                <ion-icon icon-right name="cash"></ion-icon>  50 c</button>
          </ion-col>
          <ion-col col-3 id="onOff">
            <button (click)="addMoney(1)" ion-button icon-start color="secondary"  full>
                <ion-icon name="cash"></ion-icon>  R1.00</button>
          </ion-col>
            <ion-col col-3 id="onOff">
              <button (click)="addMoney(2)" ion-button icon-start color="blue"  full>
                  <ion-icon icon-right name="cash"></ion-icon>  R2.00</button>
            </ion-col>
            <ion-col col-3 id="onOff">
              <button (click)="addMoney(5)" ion-button icon-start color="purple"  full>
                  <ion-icon name="cash"></ion-icon>  R5.00</button>
            </ion-col>
          </ion-row>  
      </ion-grid>
      <button (click)="clearMoney()" ion-button icon-start color="danger"  full>
          <ion-icon icon-right name="cash"></ion-icon>  Return money / cancel</button>

</ion-header>

<ion-content class="getStart">

  <h2 align = center></h2>
  
  

  
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of shoppingListRef$ | async" >
        <div align="center" style="flex-wrap: wrap" class="wrapper">
          <div class="profile">
            <img src="{{item.image}}" class="thumbnail">
            <p class="title">{{item.description}} - R{{item.price}}</p>
            <p class="title"> Quantity Left {{item.quantity}}</p>
            <button (click)="buyItem(item)" ion-button color="primary" outline full icon-start>
              <ion-icon name="pricetag"> </ion-icon>
              Buy
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-3 col-md-3 col-xl-3 *ngFor="let item of coinListRef$ | async" >
        <div align="center" style="flex-wrap: wrap" class="wrapper">
          <div >
            <img src="{{item.image}}" class="thumbnail">
            <p class="title">{{item.units}} x {{item.name}} left</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>